
body {
    background-image: url('images/computerbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#header-container{
    display: flex;
    flex-direction: column;
}
.folders {
    width:100px;
    height:70px;
}
