@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

html {
    cursor: url('images/MouseAuto.png') 0 0, default;
}

body {
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
}


h1 {
    font-family: 'Pixelify Sans';
    font-size: 150px;
    font-weight: 900;
    color: #000000;
    text-align: center;
    margin-top: 120px;
    margin-left: 10px;
    line-height: 0.5em
}

a:hover,
button:hover,
.folders:hover {
    cursor: url('images/MousePointer.png') 0 0, pointer;
}

.Xplain-container{
    text-align:center;
    width:55vw;
    margin:0 auto;
    margin-top:-40px;
    font-family:arial;
    background-color:white;
    padding:3px;
}


#Xplane2{
font-size:22px;
}