@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

html {
  cursor:
    url("images/MouseAuto.png") 0 0,
    default;
}

body {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}

.Tabs {
  background-image: url("https://i.pinimg.com/474x/b6/d6/be/b6d6be932f59e47fac84f49d89f3f96d.jpg");
  margin-top: -5vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20vw;
  width: 57%;
  height: 39vw;
}

h1,
h3,
h2 {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 7.5vw;
}

h1 {
  font-family: "Pixelify Sans";
  font-size: 40px;
  font-weight: 900;
  color: #000000;
  /*text-align: center;*/
  margin-top: 130px;
  margin-left: 10px;
  line-height: 1em;
}

h2 {
  font-family: "Pixelify Sans";
<<<<<<< HEAD
  font-size: 20px
=======
  font-size: 30px;
>>>>>>> f8717e886ff73ca794b2a01947f8b2ab84a78e8e
  font-weight: 900;
  color: #000000;
  /*text-align: center;*/
  margin-top: -125px;
  margin-left: 10px;
  line-height: 0.5em;
}

.info {
  font-family: "Pixelify Sans";
  font-weight: 900;
  color: #000000;
  /*text-align: center;*/
  margin-top: 1.5px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 40px;
}

a:hover,
button:hover,
.folders:hover {
  cursor:
    url("images/MousePointer.png") 0 0,
    pointer;
}
