@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

html {
  cursor:
    url("images/MouseAuto.png") 0 0,
    default;
}

body {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}

.Tabs {
  background-color: pink;
  margin-top: -5vw;
  margin-left: 20vw;
  width: 52%;
  height: 39vw;
}

h1, h3 , h2 {
    padding-left: 2vw;
    padding-right: 2vw;
}

h1 {
  font-family: "Pixelify Sans";
  font-size: 60px;
  font-weight: 900;
  color: #000000;
  /*text-align: center;*/
  margin-top: 150px;
  margin-left: 10px;
  line-height: 1em;
}

h3 {
  font-family: "Pixelify Sans";
  font-size: 30px;
  font-weight: 900;
  color: #000000;
  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
  line-height: 0.5em;
}

a:hover,
button:hover,
.folders:hover {
  cursor:
    url("images/MousePointer.png") 0 0,
    pointer;
}
