<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/Tabs.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header id="header"></header>
    <script src="../static/Header.js"></script>

    <div id="checkerWindow" class="Tabs">
        <div id="results"></div>
        <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>    
    </div>
    <script src="../static/CheckURL.js"></script>
</body>
</html>
