<!DOCTYPE html>

<html lang="en">

<head>

    <link rel="stylesheet" href="../static/Tabs.css">

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Check URL</title>

</head>

<body>

    <header id="header"></header>

    <script src="../static/header.js"></script>



    <div id="checkerWindow" class="Tabs">

        <h1>Check Your URL!</h1>

        <form id="url-form">

            <input id="url-input" type="url" placeholder="https://example.com" required>

            <button type="submit">Check</button>

        </form>

        <div id="results"></div>

    </div>

    <script src="../static/CheckURL.js"></script>
    <script src="../static/History.js"></script>

</body>

</html>

