<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel="stylesheet" href="../static/Tabs.css">
        <title>URL History</title>
    </head>

    <body>
        <header id="header"></header>
        <script src="../static/header.js"></script>
        
        <section id="history">
            <h1>URL History</h1>
            <table>
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Problems</th>
                    </tr>
                </thead>
            </table>
        </section>
        <script src="../static/History.js"></script>

    </body>
</html>

