<!DOCTYPE html>

<html lang="en">

    <head>

        <link rel="stylesheet" href="../static/staysafe.css">

    <header id="header"></header>
    <script src="../static/header.js"></script>

    <script src="../static/staysafe.js"></script>
        <title>URL History</title>
    </head>

    <body>

        <header id="header"></header>
        <section id="history">
            <h1>URL History</h1>
            <
        </section>
        <script src="../static/header.js"></script>

    </body>
</html>

