<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel="stylesheet" href="../static/Tabs.css">
        <title>URL History</title>
    </head>

 
    <style>
        #section{
            padding:10px;

        }
    </style>
    <body>
        <header id="header"></header>
        <script src="../static/header.js"></script>
        
        <div id="historyWindow" class="Tabs">
            <section id="section">
                <h1>URL History</h1>

                    <h2 id="URLlist"></h2>
                </table>
            </section>
        </div>

        <script src="../static/History.js"></script>

    </body>
</html>

