<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/staysafe.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>5TAY 5AFE</title> 
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700;800&display=swap');
            </style>
    <body>
        <main>
            <header id="header"></header>
            <script src="../static/header.js"></script>
            <h1>5tay <BR></BR>5afe</h1>

            <div class="Xplain-container">
                <h2 id="Xplane1">Afraid of weird links that were sent to you?</h2> <h2 id="Xplane1"> Don't worry! This site will help you with it:</h2>
                <p id="Xplane2">You can: Let an AI check a URL sent to you;</p><p id="Xplane2">Read phishing-recognition tips;</p> <p id="Xplane2">Learn from previously checked URLs.</p>    
            </div>
        
        </main>
     
    </body>
</html>