<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/Tabs.css" />
    <script src="../static/History.js"></script>
    <title>Learn More</title>
  </head>
  <body>
    <header id="header"></header>

    <div id="infoWindow" class="Tabs">
      <h1>About Phishing URLs:</h1>
      <h2>How To Recognize Phising URL With Common Signs:</h2>
      <p class="info">
        1. "Typosquatting" - the URL will have letters or numbers that are
        similiar to the original domain but will be different letters then what
        in the original URL. Example: capital 'I' instead of small 'l'.
      </p>
      <p class="info">
        2. Make sure the URL has the right end. Example - Real =
        'www.google.com' Fake = 'www.google.co'
      </p>
      <p class="info">
        3. Do not go into links that start with 'HTTP' and not 'HTTPS'. Example:
        Real = 'https://www.google.com' Fake = 'http://www.google.com'
      </p>
      <p class="info">
        4. If the URL has @ in the middle, the URL its phishing because the
        website ignores the text that comes before it. Example:
        'facebook.com@blank.top' if you'll press the link, it will only read the
        '@blank.top' part.
      </p>
    </div>

    <script src="../static/header.js"></script>
    <script src="../static/StaySafe.css"></script>
  </body>
</html>
