<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/Tabs.css" />
    <script src="../static/History.js"></script>
    <title>Learn More</title>
  </head>
  <body>
    <header id="header"></header>

    <div id="infoWindow" class="Tabs">
      <h1>About Phishing URLs:</h1>
      <h3>How To Recognize Phising URL With Common Signs</h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>

    <script src="../static/Header.js"></script>
    <script src="../static/StaySafe.css"></script>
  </body>
</html>
